# Secrets 
.env

# Local database
*.db
*.sqlite
*.sqlite3

# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Editor/OS junk
.vscode/
.DS_Store
Thumbs.db

uvicorn.err.log
uvicorn.out.log
*.log
